.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  z-index: 10;
}

.header-logos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-logo {
  height: 60px;
}

.header-text-logo {
  height: 40px;
}
