.navigation-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  gap: 48px;
  position: fixed;
  width: 410px;
  max-width: 100%;
  height: 66px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: #E9E9E9;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  width: 60px;
  cursor: pointer;
  margin: 0 auto;
}

.nav-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item span {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  color: #6F6F6F;
}

.nav-item span.active {
  color: #000000;
}

.nav-icon svg {
  width: 100%;
  height: 100%;
}
